<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizon'22</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta
      name="description"
      content="Horizon'22 -   ISTE-VIT presents to you Horizon'22 - a national technical fest with over 1500 participants for a learning experience like none other. Expand your skill set with workshops on Web development, Machine Learning, IoT and Competitive Coding. Initiate new ideas, put forth innovative solutions and compete with sharpest of minds in one a kind hackathon - Technica"
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ISTE-VIT" />
    <meta
      property="og:description"
      content="Horizon'21 -   ISTE-VIT presents to you Horizon'22 - a national technical fest with over 1500 participants for a learning experience like none other. Expand your skill set with workshops on Web development, Machine Learning, IoT and Competitive Coding. Initiate new ideas, put forth innovative solutions and compete with sharpest of minds in one a kind hackathon - Technica."
    />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="ISTE-VIT" />
    <meta
      name="keywords"
      content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education,Horizon,Technica"
    />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="gallery.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
        <link rel="icon" href="imgs/favicon.ico" />

  </head>
  <body>
    <div class="landing-section">
      <a href="http://istevit.in" target="_blank"  >
      <img src="imgs/iste-footer.png" class="top-right-logo" alt="" srcset="">

      </a>
      <img src="imgs/horizon.png" class="landing-logo" alt="" srcset="" />
      <div class="horizon-tagline">Envision | Technical | Excellence </div>
    </div>
    <a href="https://discord.gg/Az7brjVfjw" target="_blank" rel="noopener noreferrer">
    <img src="imgs/discord-mascot.png" class="discord-logo" alt="" srcset="">
    </a>
    <div class="about-us" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6 col-sm-12 about-left justify-content-center">
          <!-- <img
            src="imgs/iste-footer-modified.png"
            class="about-img"
            alt=""
            srcset=""
          />
          <img src="/assets/social-youtube.svg" class="social-1" alt="" />
          <img src="/assets/social-github.svg" class="social-2" alt="" />
          <img src="/assets/social-instagram.svg" class="social-3" alt="" />
          <img src="/assets/social-linkedin.svg" class="social-4" alt="" /> -->
         <video
      autoplay
      muted
      controls
      loop
      style="object-fit: contain; align-self: center;padding-top: 20px;"
    
    >
    
      <source
        src="https://firebasestorage.googleapis.com/v0/b/technica-2021.appspot.com/o/aboutiste.mp4?alt=media"
      />
        </div>
        <div class="col-lg-6 about-right">
          <div class="about-head">About <span class="blue-text">Us</span></div>
          <div>
            
          </div>
          <div>
           ISTE-VIT presents to you Horizon'22 - a national technical fest with over 1500 participants for a learning experience like none other. Expand your skill set with workshops on Web development, Machine Learning, IoT and Competitive Coding. Initiate new ideas, put forth innovative solutions and compete with sharpest of minds in one a kind hackathon - Technica
          </div>
        </div>
      </div>
    </div>
    <section id="events">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
           <div class="carousel-item active" >
            <div class="titlecontainer" data-aos="fade-left">
              <div class="title-top">WORKSHOP</div>
              <div class="title">CODE ASYMPTOTE</div>
            </div>

            <div class="description" data-aos="fade-right">
              <div class="line"></div>
             Code asymptote is a hands-on workshop, where you step into the world of data structures. Learn all about various DSA algorithms, time complexities and its applications. Understand how they are implemented, know how to apply them. Learn, understand, implement, all from scratch!
             <br> <br>
             <b style="font-size: 1.2rem;">Date : 9th and 10th April</b> 
            </div>
           <a href="https://bit.ly/Horizon-CodeAsymptote" data-aos="fade-right" target="_blank" rel="noopener noreferrer" style="color: rgb(0, 0, 0);text-decoration: none;" ><div class="registerbtn">Register</div></a>  
 <div style="display: flex;justify-content: center;">
            <img src="imgs/code-img1.png" class="mlpic-1" alt="" srcset="">
                        <img src="imgs/code-img2.png" class="mlpic-2" alt="" srcset="">

                                    <img src="imgs/code-img3.png" class="mlpic-3" alt="" srcset="">
            </div>
 <div class="planets" data-aos="fade-left" >
            <img src="imgs/planet3.png" class="pla" alt="..."/>

            </div>          </div>
          <div class="carousel-item ">
            <div class="titlecontainer" data-aos="fade-left" >
              <div class="title-top">WORKSHOP</div>
              <div class="title">ML Bootcamp</div>
            </div>

            <div class="description" data-aos="fade-right" >
              <div class="line"></div>
              ML bootcamp is a hands-on workshop, where you learn the theory behind the intricacies of thinking computer systems. Learn about content based filtering, collaborative filtering and build a recommendation system from scratch and dive deep into the world of neural networks!
               <br> <br>
             <b style="font-size: 1.2rem;">Date : 14th April</b> 
            </div>
           <a href="https://bit.ly/Horizon-ML_Bootcamp" target="_blank" rel="noopener noreferrer" style="color: rgb(0, 0, 0);text-decoration: none;" ><div class="registerbtn">Register</div></a>  
            <div style="display: flex;justify-content: center;">
            <img src="imgs/ml-img1.png" class="mlpic-1" alt="" srcset="">
                        <img src="imgs/ml-img2.png" class="mlpic-2" alt="" srcset="">

                                    <img src="imgs/ml-img3.png" class="mlpic-3" alt="" srcset="">
            </div>

            <div class="planets"data-aos="fade-left"  >
              

            <img src="imgs/ml-planet.png" class="pla" alt="..."/>
            
            </div>
          </div>


          <div class="carousel-item">
            <div class="titlecontainer" data-aos="fade-left" >
              <div class="title-top">WORKSHOP</div>
              <div class="title">WEB-DEV</div>
            </div>

            <div class="description" data-aos="fade-right" >
              <div class="line"></div>
             Web Dev is a hands-on workshop in Horizon'22, where you learn all about building websites and managing databases. Equip yourself with cutting edge web development tools, all through real-time teaching and interesting exercises. Take home a unique movie recommendation system, all done by you! <br> <br>
               <b style="font-size: 1.2rem;">Date : 19th-20th May</b> 
            </div>
           <a href="https://bit.ly/Horizon-WebDev" target="_blank" rel="noopener noreferrer" style="color: rgb(0, 0, 0);text-decoration: none;" ><div class="registerbtn">Register</div></a>  
 <div style="display: flex;justify-content: center;">
            <img src="imgs/web-img1.png" class="mlpic-1" alt="" srcset="">
                        <img src="imgs/web-img2.png" class="mlpic-2" alt="" srcset="">

                                    <img src="imgs/web-img3.png" class="mlpic-3" alt="" srcset="">
            </div>
 <div class="planets" data-aos="fade-left" >
            <img src="imgs/planet2.png" class="pla" alt="..."/>

            </div>          </div>
      
       <div class="carousel-item">
            <div class="titlecontainer" data-aos="fade-left" >
              <div class="title-top">WORKSHOP</div>
              <div class="title">ELECTRONIX</div>
            </div>

            <div class="description" data-aos="fade-right" >
              <div class="line"></div>
             Electronix is a hands-on workshop where participants will learn about Printed Circuit Boards, Eagle, and the basic terminology used from the ground up, and will take home their own custom-made PCB! <br> <br>
               <b style="font-size: 1.2rem;">Date : 19th May</b> 
            </div>
           <a href="https://bit.ly/Horizon-Electronix" target="_blank" rel="noopener noreferrer" style="color: rgb(0, 0, 0);text-decoration: none;" ><div class="registerbtn">Register</div></a>  
 <div style="display: flex;justify-content: center;">
            <img src="imgs/iot-img1.png" class="mlpic-1" alt="" srcset="">
                        <img src="imgs/iot-img2.png" class="mlpic-2" alt="" srcset="">

                                    <img src="imgs/iot-img3.png" class="mlpic-3" alt="" srcset="">
            </div>
 <div class="planets" data-aos="fade-left"  >
            <img src="imgs/planet4.png" class="pla" alt="..."/>

            </div>          </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>


    <section id="technica">
              <div class="row">
          <div class="col-lg-6">

        <div class="technica-title-container" data-aos="fade-left" >
              <div class="tech-title-top">HACKATHON</div>
              <div class="tech-title">TECHNICA</div>
              <div class="line-tech"></div>

        </div>
            <div class="technica-text" data-aos="fade-up" >
              Technica is a 48-hour Hack-a-Thon conducted by ISTE-VIT. The hack is aimed at cultivating a technical temper among the student community and promoting healthy competition among peers. It is a one of a kind opportunity for participants to develop their technical skills and develop innovative and exciting solutions to real world problems!
            </div>
 <a href="/technica" target="_blank" style="text-decoration: none;"><div class="registerbtn"><div>Explore</div></div></a> 
          </div>
          <div class="col-lg-6 technica-logo-container" data-aos="fade-right" >
             <img src="imgs/technica.png" class="technica-logo" alt="" srcset="">
          </div>
        </div>
    </section>
    
    <section id="speakers">
      <div class="row">
          <div class="col-lg-12" style="text-align: center;">
          <div class="speaker-head" data-aos="zoom-in">Speakers <span class="blue-text"> & Judges</span></div>
          
        </div>
        <div class="row speaker-sec justify-content-center">
          <div class="col-lg-3 " data-aos="fade-right" class="speaker-card" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/speaker-akash.png"  alt="speaker-img">
            </div>
                            <div class="speaker-name">Akash Verma <br> Platform Architect <br> Thoucentric Labs</div>

          </div>
              <div class="col-lg-3 " data-aos="fade-right" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/hrithik.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Hrithik Purwar <br>Design Head</div>

          </div>
                     <div class="col-lg-3 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/sahil.png" alt="speaker-img">
            </div>
                            <div class="speaker-name">Sahil Kaling <br>Projects Head</div>

          </div>
           <div class="col-lg-3 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/vidyarth.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Vidyarth GS <br>Technical Head</div>

          </div>
           <div class="col-lg-3 " data-aos="zoom-up" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/gokul.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Gokul Krishnan S <br> R&D Head </div>

          </div>
          </div>
        </div>
      </div>
     

    </section>

       <section id="team">
      <div class="row justify-content-center"  sty>
            <div class="team-head" data-aos="zoom-in-up" style="text-align: center;">Team</div>

 <div class="col-lg-6  speaker-left">

        </div>
          <div class="col-lg-6 speaker-right">
          
        </div>
            <div class="row speaker-sec justify-content-center">
          <div class="team-headings">CONVENERS</div>
          <div class="col-lg-3 " data-aos="fade-right" class="speaker-card" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/amitsir.jpg"  alt="speaker-img">
            </div>
                            <div class="speaker-name">Dr. B Amit Mahendrakar <br>
Ex- Director Of Student Welfare</div>

          </div>
          <div class="col-lg-3 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-images">
                <img class = "speaker-img" src="imgs/sasisir.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Dr. S Sasikumar <br>
Professor, Department of Chemistry</div>

          </div>
          
        <div class="row speaker-sec justify-content-center">
          <div class="team-headings">ORGANIZERS</div>
          <div class="col-lg-2dot4 " data-aos="fade-right" class="speaker-card" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/tirth.png"  alt="speaker-img">
            </div>
                            <div class="speaker-name">Tirth Patel <br> Chairperson </div>

          </div>
          <div class="col-lg-2dot4 " data-aos="fade-right" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/ved.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Ved Purohit <br> Vice-Chairperson </div>

          </div>
           <div class="col-lg-2dot4 " data-aos="fade-right" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/aman.png" alt="speaker-img">
            </div>
                            <div class="speaker-name">Aman Ali Siddiqui <br> Secretary
                             </div>

          </div>
           <div class="col-lg-2dot4 " data-aos="fade-right" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/khushboo.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Khushboo Niljhawan<br> Co-Secretary</div>

          </div>
              <div class="col-lg-2dot4 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/hrithik.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Hrithik Purwar <br>Design Head</div>

          </div>
           <div class="col-lg-2dot4 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/riddhi.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Riddhi Dhawan <br>Publicity Head</div>

          </div>
           <div class="col-lg-2dot4 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/akriti.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Akriti Dalal <br>Events Head</div>

          </div>

       
           <div class="col-lg-2dot4 " data-aos="fade-left" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/sahil.png" alt="speaker-img">
            </div>
                            <div class="speaker-name">Sahil Kaling <br>Projects Head</div>

          </div>
           <div class="col-lg-2dot4 " data-aos="fade-right" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/vidyarth.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Vidyarth GS <br>Technical Head</div>

          </div>
           <div class="col-lg-2dot4 " data-aos="fade-right" style="display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;" class="speaker-card">
            <div class="speaker-img2">
                <img class = "speaker-img" src="imgs/gokul.jpg" alt="speaker-img">
            </div>
                            <div class="speaker-name">Gokul Krishnan S <br> R&D Head </div>

          </div>
          </div>
        </div>
                  <div class="team-headings">COORDINATORS</div>
<div class="coordinators-carousel container " data-aos="zoom-in-up">
        <div class="row my-3 mx-0 coordinators-panel" >
            <% for(var j=0; j < 30; j++) { %>
                <div class="col-6 col-lg-2 py-3 px-0 coordinator-cell">
                    <a >
      <%- core[j] %>
                    </a>
                </div>
                <% } %>
        </div>
         <div class="row my-3 mx-0 coordinators-panel" >
            <% for(var j=30; j < 60; j++) { %>
                <div class="col-6 col-lg-2 py-3 px-0  coordinator-cell">
                    <a >
      <%- core[j] %>
                    </a>
                </div>
                <% } %>
        </div>
 <div class="row my-3 mx-0 coordinators-panel" >
            <% for(var j=60; j < 90; j++) { %>
                <div class="col-6 col-lg-2 py-3 px-0  coordinator-cell">
                    <a >
      <%- core[j] %>
                    </a>
                </div>
                <% } %>
        </div>
 <div class="row my-3 mx-0 coordinators-panel" >
            <% for(var j=90; j < 105; j++) { %>
                <div class="col-6 col-lg-2 py-3 px-0  coordinator-cell">
                    <a >
      <%- core[j] %>

                    </a>
                </div>
                <% } %>
        </div>
</div>

<div class="d-flex justify-content-center">
    <img src="imgs/carousel-left.svg" class="mr-2" id="carousel-left" alt="">
    <img src="imgs/carousel-right.svg" class="ml-2" id="carousel-right" alt="">
</div>
      </div>
     

    </section>

    <div id="gallery" class="footer" style="position: relative">
      <div class="text-container container row mx-auto">
        <div class="col-12 my-6 align-items-center">
          <h1>See you at</h1>
          <h1>Horizon!</h1>
        </div>
      </div>
      <div class="gallery-images-container">
        <% for(var i=0; i < 20; i++) { %>
        <img
          src="<%=`/assets/pic-${(i%14+1)}.jpeg`%>"
          style="
            transform: translate(
              <%=Math.floor(
                  Math.pow(-1, Math.floor(Math.random() * 10)) * Math.random() *
                    200
                ) + 'px,' + Math.floor(Math.random() * 100) + 'px' %>
            );
          "
          class="gallery-image"
          alt=""
        />
        <% } %>
        <div
          class="row container mx-auto pt-5 pb-2 justify-content-between text-center"
          id="gallery-footer"
        >
          <div class="col-lg-6 col-12">
            <p>
              Made with ❤️ by
              <a style="color: white;" href="https://www.istevit.in/"> ISTE-VIT </a>
            </p>
          </div>
          <div class="col-lg-4 col-12 d-flex justify-content-around">
            <div>
              <a
                href="https://www.youtube.com/channel/UCVRlM9S7LDPyo_mwNpBrnXg"
                target="_blank"
              >
                <img src="/assets/social-youtube.svg" alt="" />
              </a>
            </div>
            <div>
              <a href="https://www.facebook.com/ISTE.VIT/" target="_blank">
                <img src="/assets/social-facebook.svg" alt="" />
              </a>
            </div>
            <div>
              <a href="https://github.com/ISTE-VIT" target="_blank">
                <img src="/assets/social-github.svg" alt="" />
              </a>
            </div>
            <div>
              <a
                href="https://www.instagram.com/iste_vit_vellore/"
                target="_blank"
              >
                <img src="/assets/social-instagram.svg" alt="" />
              </a>
            </div>
            <div>
              <a
                href="https://in.linkedin.com/company/indian-society-for-technical-education"
                target="_blank"
              >
                <img src="/assets/social-linkedin.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
        <script src="script.js"></script>
        
       <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
       <script>
function scrollOnPageLoad() {

          $('html, body').animate({
            scrollTop: $("#events").offset().top - 77
          }, 100);
 
}

scrollOnPageLoad();

       </script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

  </body>
</html>

